@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light mode colors */
  --color-background: #f0f1f2;
  --color-font: #364153;
  --color-foreground: #d1d5dc;
  --color-primary: #646cff;
  --color-primaryHover: #535bf2;
  --color-button: #d6d6d6;
  --color-secondary: 107 114 128;
  --color-border: 229 231 235;
  --color-card: 249 250 251;
}

.dark {
  /* Dark mode colors */
  --color-background: #242424;
  --color-font: rgba(255, 255, 255, 0.87);
  --color-foreground: #1e2939;
  --color-primary: #646cff;
  --color-primaryHover: #535bf2;
  --color-button: #1a1a1a;

  --color-secondary: 156 163 175;
  --color-border: 55 65 81;
  --color-card: 31 41 55;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-primaryHover);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  cursor: pointer;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button);
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: var(--color-primary);
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
